/*
 *  Combo Boxes
 */

QComboBox {
     border: 1px solid #606060;
     border-radius: 5px;
     padding: 1px 18px 1px 3px;
     min-width: 6em;
 }

QComboBox:!editable {
    background: #C0C0C0;
 }

 QComboBox:!editable:on, QComboBox::drop-down:!editable:on, QComboBox:!editable:off {
     background: #909090;
 }

 QComboBox:on {
     padding-top: 3px;
     padding-left: 4px;
 }

 QComboBox::drop-down {
     border-left-width: 0px;
     border-top-right-radius: 3px; 
     border-bottom-right-radius: 3px;
 }


/*
 *  Tab Widgets & Bars
 */

QTabWidget::pane { 
     border-top: 2px solid #C2C7CB;
}

QTabWidget::tab-bar {
     left: 5px; 
}

QTabBar::tab {
     background: #909090;
     border: 2px solid #C4C4C3;
     border-bottom: 0px; 
     border-top-left-radius: 4px;
     border-top-right-radius: 4px;
     min-width: 8ex;
     padding: 2px;
}

QTabBar::tab:selected, QTabBar::tab:hover {
     background: #C0C0C0;
}

QTabBar::tab:selected {
    border-bottom: 0px;
}

QTabBar::tab:!selected {
     margin-top: 2px; 
}
 
 QTabBar::tab:selected {
     
     margin-left: -3px;
     margin-right: -3px;
}

QTabBar::tab:first:selected {
     margin-left: 0; 
}

QTabBar::tab:last:selected {
     margin-right: 0; 
}

QTabBar::tab:only-one {
     margin: 0; 
}


/*
 *  Checkboxes
 */

 QCheckBox {
     spacing: 5px;
 }

 QCheckBox::indicator {
     width: 13px;
     height: 13px;
     border: 1px solid #606060;
     border-radius: 5px;
     background: white;
 }

 QCheckBox::indicator:unchecked:hover {
     background: #909090;
 }

 QCheckBox::indicator:unchecked:pressed {
     background: #606060;
 }

 QCheckBox::indicator:checked {
     background: white;
     image: url(:/images/x.png);
 }

 QCheckBox::indicator:checked:hover {
     background: #909090;
     image: url(:/images/x.png);
 }

 QCheckBox::indicator:checked:pressed {
     background: #606060;
     image: url(:/images/x.png);
 }

 QCheckBox::indicator:indeterminate:hover {
 }

 QCheckBox::indicator:indeterminate:pressed {
 }


/*
 *    Push Buttons 
 */

QPushButton {
     border: 1px solid #606060;
     border-radius: 5px;
     background-color: #C0C0C0;
     min-width: 80px;
     margin-left: 5px;
     margin-right: 5px;
     padding: 1px;
 }

 QPushButton:pressed {
     background-color: #606060;
 }

 QPushButton:flat {
     border: none; 
 }

 QPushButton:default {
     background-color: #909090; 
 }


/*
 *  QStatusBar, QToolBar
 */
QStatusBar, QToolBar {
     background: #909090;
 }

QToolBar {
     border-bottom: 1px solid #606060;
}

QStatusBar {
     border-top: 1px solid #606060;
}

/*
 *  QDialog
 */
QDialog {
    background: #909090;
}

/*
 * QPlainTextEdit
 */
QPlainTextEdit {
    background: #303030;
}
